@import "tailwindcss";

@theme {
  --color-gray-100: #f4f4f4;
  --color-gray-400: #bfc4ce;
  --color-gray-750: #262626;
  --color-gray-850: #171717;
  --color-gray-900: #0a0a0a;
}

@layer utilities {
  .bg-social {
    background-image: url("/assets/img/bg-social.png");
  }
}
